{% extends 'layouts/layaut.html' %}

{% block title %} {{ title }} {% endblock  %}

{% block contenido %}

    <h2> {{ title }} </h2>
   
    {% for article in articles %}
        <article class="article-item"> 
            {% if article.image != 'null' and article.image.url|length >= 1   %}
                <div class="image">
                    <img src=" {{article.image.url}} " />
                </div>

            {% endif %}
                <div class="data">
                    <a href=" {% url 'article' article.id %}">
                        <h3>{{ article.title }}</h3> 
                    </a>
                    
                    {% for category in article.categories.all  %}
                        <a href=" {% url 'category' category.id  %} " > {{ category.name }} </a>
                    {% endfor %}
                    <span>
                        {{ article.user.first_name }} {{article.user.last_name}} |
                        {{ article.created_at }} </span>
                    <p>
                        {{ article.content|safe }}
                    </p>
                </div>
                <div class="clearfix"></div>
        </article>
    {% endfor %}
        {% include 'articles/paginator.html' %}
{% endblock  %}

